aside{
    width: auto;
    flex-shrink: 0;
    padding: 1.875rem 1.25rem;
    color: white;
    background-color: var(--second-color-dark);
    background-image: url(../img/sidebar-bg.png);
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.nav-top a, .nav-bottom a{
    color: white;
    font-size: 19px;
    text-decoration: none;
}

.nav-top li{
    padding: 5px;
    margin-bottom: 10px;
}

.nav-top-link{
    margin-bottom: 10px;
}

.nav-top-link, .nav-bottom-link{
    padding-left: 20px;
    margin-bottom: 0;
}

.nav-bottom{
    padding: 5px;
}

.ms-icon-width{
    width: 20px;
 }
