.ms-card-header{
    background-color: var(--first-color);
}

/* NEXT CLASSES CARD */
.classes-card img{
    width: 40px;
    padding-right: 10px;
}

table th{
    font-size: 15px;
    font-weight: 500;
}

table td, table th:not(:first-of-type){
    font-size: 15px;
    text-align: center;
}

.badge{
    font-size: 14px;
}

/* F.A.Q CARD */
.accordion-item button{
    font-size: 18px;
    font-weight: 500;
}
