header{
    height: 4.375rem;
    background-color: var(--first-color-light);
    display: flex;
    align-items: center;
   
}

.img-logo-mobile{
    height: 65px;
}

.img-logo{
    height: 40px;
}

header .row{
    background-color: white;
    display: flex;
    align-items: center;
}

header ul{
    display: flex;
    justify-content: center;
    margin-bottom: 0;
}



    
  

