header{
    height: 4.375rem;
    background-color: var(--first-color-light);
    display: flex;
    align-items: center;
   
}

header img{
    width: 85% ; 
}

.img-logo{
    width: 85%;
}

header .row{
    background-color: white;
    display: flex;
    align-items: center;
}

header ul{
    display: flex;
    justify-content: center;
    margin-bottom: 0;
}



    
  

