header{
    height: 4.375rem;
    background-color: var(--first-color-light);
    display: flex;
    align-items: center;
}

/* DEBUG */
header .col-2{
    background-color: blue;
}

header .col-1{
    background-color: blue;
}

header .col-9{
    background-color: violet;
}

    
  

