
/* HEADER */
header .ms-input{
    width: 100%;
    height: 40px;
    background-color: var(--first-color-dark);
    border: 1px solid var(--first-color-dark);
    font-size: 16px;
    color: lightgray;
    font-weight: 400;
}

.ms-search{
    border: 1px solid var(--first-color-dark);
    background-color: var(--first-color-dark);
    padding-right: 0;
}

.btn-class{
    border: 1px solid var(--second-color-light);
    color: var(--second-color-light);
    padding: 10px 15px;
    border-radius: 5px;
}

.btn-action{
    background-color: transparent;
    border: 1px solid var(--first-color-darker);
    color: var(--first-color-darker);
    border-radius: 5px;
}

.btn-action:first-of-type{
    margin-right: 5px;
}