
/* HEADER */
/* SEARCH BAR */
.img-logo:hover, .img-logo-mobile:hover{
    cursor: pointer;
}

header .ms-input{
    width: 100%;
    height: 40px;
    background-color: var(--first-color-dark);
    border: 1px solid var(--first-color-dark);
    font-size: 16px;
    color: lightgray;
    font-weight: 400;
}

.ms-search{
    border: 1px solid var(--first-color-dark);
    background-color: var(--first-color-dark);
    padding-right: 0;
}

.header-icon:hover{
    cursor: pointer;
    transform: scale(1.1);
}

/* HERO */
.ms-badge:hover{
    cursor: pointer;
}

/* ASIDE */
.nav-top li:hover, .nav-bottom:hover{
    background-color: rgba(255, 255, 255, 0.2);
}

/* BUTTONS */
/* btn new class */
.btn-class{
    background-color: transparent;
    border: 1px solid var(--second-color-light);
    color: var(--second-color-light);
    padding: 10px 15px;
    border-radius: 5px;
}

.btn-class:hover{
    background-color: var(--second-color-light);
    color: var(--first-color-dark);
}

/* btn actions */
.btn-action{
    background-color: transparent;
    border: 1px solid var(--first-color-darker);
    color: var(--first-color-darker);
    border-radius: 5px;
}

.btn-action:hover{
    background-color: var(--first-color-darker);
    color: var(--first-color-dark);
}

.btn-action:first-of-type{
    margin-right: 5px;
}

/* offcanvas btn */
.btn-offcanvas{
    padding: 7px 15px;
    border: 1px solid;
    border-radius: 5px;
    font-weight: 500;
}

.btn-offcanvas:hover{
    transform: scale(0.95);
    filter: grayscale(0.5);
}

.btn-blue{
    background-color: #0D6EFD;
    border: #0D6EFD;
    color: white;
}

.btn-yellow{
    background-color: #FFC107;
    border: #FFC107;
}

/* INPUTS*/
input{
    cursor: pointer;
}

.offcanvas input{
    width: 100%;
    padding: 5px 10px;
    border: 1px solid var(--first-color-dark);
    border-radius: 5px;
    color: var(--first-color-darker);
    margin-bottom: 15px;
}

.offcanvas label{
    margin-bottom: 5px;
}

