/* MAIN */
main{
    flex-grow: 1;
    overflow-y: auto;
    background-color: var(--first-color-light);
}

/* HERO */
.ms-hero{
    background-color: var(--second-color-light);
    width: 100%;
    
    color: white;
    padding-top: 13px;
    padding-bottom: 13px;
}

.ms-badge{
    font-size: 15px;
    font-weight: 500;
    background-color: rgba(0,0,0,0.2);
    padding: 5px 10px;
    border-radius: 15px;
}







