/* PALETTE */
:root{
    --first-color: #F7F7F7;
    --first-color-light: #F8F9FA;
    --first-color-dark: #E5E5E5;
    --second-color: #185BB9;
    --second-color-light: #1C71E8;
    --second-color-dark: #061E34;
    --third-color: #F26551;
    --third-color-light: #FF8F00;
}