body{
    font-family: 'Roboto', sans-serif;
}

/* HEADER */
.header-icon{
    font-size: 18px;
    padding-right: 15px;
    color: var(--first-color-darker);
}

.ms-bell-icon{
    color: var(--third-color);
}

/* MAIN */
/* f.a.q card */
.accordion-item button{
    font-size: 18px;
    font-weight: 500;
}

.accordion-body{
    font-size: 18px;
}