body{
    font-family: 'Roboto', sans-serif;
}

/* HEADER */
.header-icon{
    font-size: 18px;
    padding-right: 15px;
    color: var(--first-color-darker);
}

.header-icon:last-of-type{
    color: var(--third-color);
}

.ms-width{
   min-width:20px;
}